{{#if (is-admin session.currentUser)}}
<ul>
  {{#each model as |image|}}
    <li>
        <div>
            <div>{{image.file_name}}</div>
            <img src="{{image.url}}" width="200">
            {{#if image.post.title}}
              <div>{{#link-to 'post' image.post}}{{image.post.title}}{{/link-to}}</div>
            {{else}}
              <div class="warning">does not belong to any post</div>
            {{/if}}

        </div>
    </li>
  {{/each}}
</ul>
{{/if}}


{{outlet}}
