<section>

{{outlet}}

    <h1>posts list</h1>
  <ul>
  {{#each model as |post|}}
      <li>
          <div>{{post.title}}</div>
          <div>By: {{post.user.name}}</div>
          <div>{{post.body}}</div>
          {{#if post.images}}
            <div>Images:</div>
            <ul>

            {{#each post.images as |image|}}
              <li>
                  <div>{{image.file_name}}</div>
                  <img src="{{image.url}}" width="200"/>
              </li>
            {{/each}}
            </ul>
          {{/if}}
          {{#link-to 'post' post}}view post{{/link-to}}
          {{#if (is-admin session.currentUser)}}
            <button {{action "deletePost" post}}>delete</button>
          {{/if}}
      </li>
  {{/each}}
  </ul>
</section>